
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	position: absolute;
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.black{background-color: #111;}
.red{background-color: #b11;}
.blue{background-color: #44b;}
main {
	width: 80%;
	height: 90%;
	margin: 2% auto;
	padding: 2% 0;
}
.content{
	height: 100%;
	width: 100%;
}
article {
	width: 80%;
	height: 4%;
	color: #666;
	margin: 4% auto;
}
a {
	color: #999;
}

button {
  border: none;
  background-color: #333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #555;
  color: white;
}


